<%= @user.name %>, <%= @user.email %>
<p>作成日: <%= @user.created_at %></p>
<p>更新日: <%= @user.updated_at %></p>
<P>現在の時刻：<%= Time.now %></p>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, size: 50 %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>